<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.24/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <header>
    <article>
      <section>
        <a href="/"><img src="" alt="Logo"></a>
      </section>

      <section>
        <a href=""><img src="/images/carrinho-de-compras.png" alt="Carrinho" id="icon"></a>
        <a href=""><img src="/images/lupa.png" alt="Carrinho" id="icon"></a>
        <a href=""><img src="/images/perfil.png" alt="Carrinho" id="icon"></a>
      </section>
    </article>
  </header> 

  <main>
    <article>
      
    </article>
  </main>

  <footer>

  </footer>
</body>
</html>
