<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src='script.js'></script>
</head>

<body>
  <header>
    <article>
      <section>
        <a href="/"><img src="/images/Thrill.png" alt="Logo" id="logo"></a>
      </section>

      <section>
        <a href=""><img src="/images/lupa.png" alt="Carrinho" id="icon"></a>
        <a href=""><img src="/images/carrinho-de-compras.png" alt="Carrinho" id="icon"></a>
        <a href=""><img src="/images/perfil.png" alt="Carrinho" id="icon"></a>
        <a href="">Entrar</a>
      </section>
    </article>
  </header> 

  <main>
    <article class="carousel">
      <section class="cont-car" id="img">
        <a href=""><img src="https://uselinus.com.br/cdn/shop/articles/pexels-rachel-claire-5490975_1500x1001_crop_bottom_eb75220b-081f-4b2f-a7f5-4659e6138bd2.jpg?v=1693577664" alt=""></a>
        <a href=""><img src="https://www.kigi.com.br/wp-content/uploads/2023/09/abrir-loja-de-roupas-masculina.jpg" alt=""></a>
        <a href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_ZT1CkIWqtRKURhAPCyycvSwXGNYhVpeeeA&s" alt=""></a>
      </section>
    </article>
  </main>

  <footer>

  </footer>
</body>
</html>
